html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

:root {
  --main-blue-accent: #6CC7FB;
  --main-blue-rollover: #00A3FE;
  --heading-color: #262A56;
  --text-color: #1E2030;
  --background-color: #FAFAFA;
  --background-white: #FFFFFF;
  --text-black: #000000;
  --footer-color: #e7e7e7;
  --cca-color: #FF7575;
}

:root img {
  max-width: 100%;
}

:root a {
  text-decoration: none;
  text-align: center;
}

:root p {
  font-size: 20px;
  line-height: 150%;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
}

:root h1 {
  font-size: 64px;
  color: var(--heading-color);
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 700px) {
  :root h1 {
    font-size: 48px;
  }
}

:root h3 {
  color: var(--heading-color);
}

:root h2 {
  font-size: 64px;
  font-weight: 800;
  color: #1A1A1A;
}

@media screen and (max-width: 700px) {
  :root h2 {
    text-align: center;
    font-size: 42px;
  }
}

:root ul {
  margin: 0;
  padding: 0;
}

.main-page-container {
  min-height: 100vh;
}

@media screen and (max-width: 900px) {
  .mobile-hide {
    display: none !important;
  }
}

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 95%;
  }
}

.button-container {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.button-container a {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.button-container:hover {
  background-color: var(--main-blue-rollover);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.description-text {
  font-size: 22px !important;
}

.mobile-menu {
  font-size: 36px;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-overlay {
  height: 100vh;
  position: fixed;
  z-index: 9998;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.548);
  top: 0;
  right: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.mobile-menu-overlay .mobile-menu-container {
  height: 100%;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  background-color: #252525;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mobile-menu-overlay .mobile-menu-container ul {
  list-style-type: none;
}

.mobile-menu-overlay .mobile-menu-container ul a {
  text-decoration: none;
  color: white !important;
}

.mobile-menu-overlay .mobile-menu-container ul a:hover {
  color: var(--main-blue-rollover) !important;
}

.mobile-menu-overlay .mobile-menu-container .mobile-menu-links li {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 800;
}

.mobile-menu-overlay .mobile-menu-container .mobile-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu-overlay .mobile-menu-container .mobile-socials ul li {
  font-size: 28px;
  margin-left: 15px;
}

.menu-active {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.menu-active .mobile-menu-container {
  width: 320px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.other-header {
  background-color: var(--background-white);
}

.other-header .navigation-links a {
  color: var(--text-color) !important;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .nav-cta {
  width: 180px;
  height: 55px;
  background-color: var(--main-blue-accent);
}

.header-container .nav-cta a {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.header-container .nav-cta :hover {
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-blue-rollover);
}

.links-container {
  height: 60px;
}

.links-container .container {
  height: 100%;
}

.links-container .navigation-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[4];
      grid-template-columns: repeat(4, 120px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.links-container .navigation-links a {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.links-container .navigation-links a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.links-container .links-container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-container .navigation-socials {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.links-container .navigation-socials a {
  color: var(--heading-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.links-container .navigation-socials svg {
  margin-left: 12px;
}

.scroll-on {
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.landing-hero {
  height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: top;
}

.landing-hero .hero-content {
  text-align: center;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 30px;
}

.landing-hero .hero-content h1 {
  font-size: 72px;
  line-height: 70px;
  max-width: 900px !important;
  color: white;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .landing-hero .hero-content h1 {
    font-size: 64px;
    line-height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .landing-hero .hero-content h1 {
    font-size: 52px;
    line-height: 50px;
  }
}

.landing-hero .hero-content .subheading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.28em;
  color: white;
}

.landing-hero .hero-content .landing-cta {
  margin-top: 20px;
  width: 100%;
  max-width: 250px;
  height: 55px;
  background-color: #0000003b;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.landing-hero .hero-content .landing-cta:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1500px;
  height: 650px;
  border-radius: 15px;
  padding-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .hero-container {
    width: 90%;
    padding-top: 20px;
    height: 100%;
  }
  .hero-container img {
    display: none;
  }
  .hero-container .hero-content {
    width: 100%;
    margin: 0 auto;
  }
  .hero-container .hero-content p {
    line-height: 1.4em;
  }
  .hero-container h1 {
    font-size: 36px !important;
    line-height: 32px !important;
  }
}

.landing-cta {
  max-width: 400px;
  background-color: var(--main-blue-accent);
  color: var(--text-color);
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background-position: top;
}

.landing-cta a {
  color: white;
  font-size: 22px;
}

.about-us {
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (max-width: 700px) {
  .about-us {
    padding-top: 80px;
  }
}

.about-us-title {
  text-align: center;
  margin: 0 auto;
}

.about-us-title h2 {
  max-width: 900px;
  padding-bottom: 20px;
  font-size: 64px;
  margin: 10px auto;
  line-height: 63px;
}

.about-us-title h1, .about-us-title p {
  margin: 0 auto;
}

.about-us-title p {
  max-width: 850px;
}

@media screen and (max-width: 950px) {
  .about-us-title h2 {
    font-size: 52px;
    line-height: 50px;
  }
}

@media screen and (max-width: 700px) {
  .about-us-title h2 {
    font-size: 42px;
    line-height: 40px;
  }
}

.about-us-card-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin-bottom: 60px;
  padding-top: 40px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
}

@media screen and (max-width: 1200px) {
  .about-us-card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .about-us-card-container .card-image {
    width: 550px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .about-us-card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-us-card-container .card-image {
    width: 100% !important;
  }
}

.about-us-card-container::before {
  position: absolute;
  content: '';
  width: 300%;
  left: -100%;
  top: calc(50% - 30px);
  height: 120px;
  background-color: #4D8CB0;
}

.about-us-card-container .card-container {
  width: 100%;
}

.about-us-card-container .card-container .card-image {
  height: 400px;
  width: 100%;
  max-width: 412px;
  overflow: hidden;
  position: relative;
}

.about-us-card-container .card-container .card-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-us-card-container .card-container .card-image a:hover ~ .item__overlay, .about-us-card-container .card-container .card-image a:focus ~ .item__overlay {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.about-us-card-container .card-container .card-image a:hover ~ .item__overlay h3, .about-us-card-container .card-container .card-image a:focus ~ .item__overlay h3 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.about-us-card-container .card-container .card-image a:hover ~ .item__overlay .item__body, .about-us-card-container .card-container .card-image a:focus ~ .item__overlay .item__body {
  opacity: 1;
}

.about-us-card-container .card-container .card-image .item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translate3d(0, 83%, 0);
          transform: translate3d(0, 83%, 0);
  background-color: rgba(255, 255, 255, 0.9);
}

.about-us-card-container .card-container .card-image h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 1rem;
  -webkit-transform: translate3d(0, -8%, 0);
          transform: translate3d(0, -8%, 0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  background-color: #17455f;
}

.about-us-card-container .card-container .card-image .item__overlay a:hover ~ .item__overlay,
.about-us-card-container .card-container .card-image .item__overlay a:focus ~ .item__overlay,
.about-us-card-container .card-container .card-image .item__overlay a:hover ~ .item__overlay h2,
.about-us-card-container .card-container .card-image .item__overlay a:focus ~ .item__overlay h2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.about-us-card-container .card-container .card-image .item__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  opacity: 0;
  -webkit-transition: opacity 500ms 100ms;
  transition: opacity 500ms 100ms;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 72%;
}

.about-us-card-container .card-container .card-image .item__body p {
  text-align: center;
  margin: 0;
  color: var(--heading-color);
}

.about-us-card-container .card-container .card-image .item__overlay a:hover ~ .item__overlay .item__body,
.about-us-card-container .card-container .card-image .item__overlay a:focus ~ .item__overlay .item__body {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.about-us-card-container .card-container .card-content {
  text-align: center;
}

.about-us-card-container .card-container .card-content h2 {
  font-size: 36px;
  color: var(--heading-color);
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .about-us-card-container .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .about-us-card-container .card-container .card-image {
    height: auto;
  }
  .about-us-card-container .card-container .card-content p {
    text-align: center;
  }
}

.projects-section {
  background-color: #e4e4e4;
  min-height: 300px;
  padding-top: 30px;
}

.projects-section h2 {
  text-align: center;
  margin: 15px 0;
}

.projects-section p {
  max-width: 850px;
}

.social-banner {
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.social-content {
  height: 300px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white !important;
}

.social-content h3 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  color: white;
}

.social-content p {
  margin: 0 auto;
  font-size: 24px;
  color: white !important;
}

@media only screen and (max-width: 700px) {
  .social-content h3 {
    font-size: 24px;
  }
  .social-content p {
    font-size: 18px;
  }
}

.social-links {
  height: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width: 700px) {
  .social-links {
    -ms-grid-columns: (100px)[3];
        grid-template-columns: repeat(3, 100px);
  }
}

.research-banner {
  width: 100%;
  height: 400px;
  background-image: url("../images//research-background.jpg");
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.research-banner .content span {
  display: block;
}

.research-banner .content h1, .research-banner .content span {
  margin: 0 auto;
  text-align: center;
  color: white !important;
  max-width: 900px;
}

.research-content {
  padding-top: 0 !important;
}

.blog-page {
  background-color: var(--background-white);
  padding-top: 100px;
}

.blog-page h1 {
  padding: 0;
  margin: 0;
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1020px) {
  .blog-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .blog-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.article-container {
  background-color: var(--background-white);
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
  min-height: 500px !important;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.article-container:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.article-container .article-image {
  max-height: 450px;
  overflow: hidden;
}

.article-container .article-image img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.article-container .article-description p {
  font-size: 16px;
  line-height: 20px;
}

.article-container .article-categories ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.article-container .article-categories ul li {
  background-color: var(--text-color);
  color: white;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
}

.article-container .article-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.article-container .article-content span {
  font-size: 14px;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-container .article-content span svg {
  margin-right: 3px;
}

.article-container ul {
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  .article-container .article-image {
    height: 400px;
  }
}

.blogheader {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
}

.blog-single-container {
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  margin-top: 200px;
  position: relative;
  z-index: 1;
  background-color: var(--background-white);
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .blog-single-container {
    margin-top: 150px;
  }
}

.blog-content {
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

.blog-content h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px !important;
}

.blog-content .blog-categories {
  width: 300px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.blog-content .blog-categories ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
}

.blog-content .blog-categories ul li {
  background-color: var(--text-color);
  color: white;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  padding: 3px 10px;
}

.blog-content .published {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.blog-content .published svg {
  margin-right: 5px;
}

.blog-content .blog-image {
  max-height: 400px;
  text-align: center;
  padding-bottom: 30px;
}

.blog-content .blog-image img {
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .blog-content {
    max-width: 90%;
    padding: 40px 0;
  }
  .blog-content .blog-image img {
    max-width: 100% !important;
  }
  .blog-content .blog-image .gatsby-image-wrapper {
    width: 100% !important;
  }
  .blog-content h1 {
    font-size: 28px !important;
  }
}

.blog-socials {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
}

.blog-socials button {
  margin-right: 5px;
}

#backtoblogs {
  position: absolute;
  top: -60px;
  background-color: white;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  color: black;
  font-weight: 500;
}

#backtoblogs svg {
  margin-right: 5px;
}

.research-section {
  width: 100%;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}

.research-section p {
  max-width: 100%;
}

.research-section h2 {
  text-align: center;
  max-width: 700px;
  padding-bottom: 20px;
  font-size: 64px;
  margin: 10px auto;
  line-height: 63px;
}

@media screen and (max-width: 700px) {
  .research-section {
    padding-top: 80px;
  }
  .research-section h2 {
    font-size: 42px;
    line-height: 40px;
  }
}

.research-container {
  padding-top: 40px;
}

.research-link {
  width: 100%;
  height: 120px;
  border: 2px solid #262A56;
  background-color: var(--background-color);
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.research-link h3 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .research-link h3 {
    font-size: 28px;
  }
}

.research-link span {
  font-size: 18px;
  text-align: left;
  font-weight: 800;
  text-transform: uppercase;
}

.research-link .ACES {
  color: #2BB2FF;
}

.research-link .EPC {
  color: #FED500;
}

.research-link .CCA {
  color: #F67575;
}

.research-link .research-title {
  text-align: left;
}

.research-link .research-button {
  width: 100%;
  max-width: 220px;
  background-color: #00A3FE;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  height: 50px;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .research-link {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    height: 100%;
    text-align: center !important;
    place-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .research-link .research-title {
    text-align: center;
    font-size: 28px;
  }
  .research-link .research-title h3 {
    font-size: 28px;
  }
}

.single-research-container {
  padding-top: 70px;
}

.single-research-container .container strong {
  font-size: 22px;
}

.single-research-container .container img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.single-research-container .container ul {
  margin-left: 20px;
}

.single-research-container .container ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.single-research-container .container blockquote {
  background-color: #ffff;
  padding: 1em;
}

.single-research-container .container h2, .single-research-container .container h3 {
  margin: 20px 0;
  padding-top: 35px;
}

.single-research-container .container h2 {
  font-size: 28px;
}

.single-research-container .container h3 {
  font-size: 22px;
}

.partners p {
  margin-top: 20px;
  color: white !important;
}

.partners span {
  color: black;
  font-weight: bold;
}

.partners .partner-title {
  text-align: center;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.partners .partner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partner-content h3 {
  font-size: 24px;
  color: black;
  padding-bottom: 20px;
}

.partners .slick-next::before, .partners .slick-prev::before {
  color: #000;
}

.item {
  margin: 0 auto;
  width: 200px !important;
  padding: 0 20px;
  display: -ms-grid !important;
  display: grid !important;
  place-items: center;
}

.item img {
  width: 200px !important;
  height: 200px;
}

.item span {
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .item {
    padding: 0;
  }
}

.index-blog {
  padding: 40px 0;
  background-color: #4D8CB0;
  background-image: url("../images/research-background.jpg");
  background-size: cover;
  z-index: 1;
  position: relative;
}

.index-blog h2 {
  font-size: 48px;
  color: white !important;
  position: relative;
  z-index: 2;
}

.index-blog::before {
  content: '';
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #4D8CB0;
  background-color: #4D8CB0;
  background-image: url("../images/research-background.jpg");
  background-size: cover;
  width: 150%;
  left: -25%;
  text-align: center;
  height: 800px;
  position: absolute;
  top: -400px;
}

@media screen and (max-width: 700px) {
  .index-blog {
    padding: 40px 0;
  }
}

.indexblog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1020px) {
  .indexblog-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .indexblog-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.indexblog-cta {
  max-width: 300px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: var(--background-white);
}

.indexblog-cta a {
  font-size: 20px;
  color: black;
}

.project-image {
  display: -ms-grid;
  display: grid;
}

.project-image video {
  max-width: 100%;
}

.project-container {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media screen and (max-width: 1100px) {
  .project-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project-container .project-item-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}

.project-item-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 500px;
  margin-bottom: -60px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 700px) {
  .project-item-container {
    margin-bottom: 0;
  }
}

.project-item-container h3 {
  font-size: 24px;
  text-align: left;
  width: 100%;
  font-weight: 800;
  margin: 0;
}

.project-item-container:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.project-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-content p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.markdown-content {
  padding-top: 60px;
}

.markdown-content p {
  margin: 20px auto;
}

.pdf-button {
  background-color: rgba(225, 255, 255, 0.2);
  border: 1px solid white;
  margin: 0 auto;
  max-width: 400px;
  height: 50px;
  font-size: 19px;
  width: 100%;
  margin: 0 auto;
}

.pdf-button a {
  color: white !important;
}

.pdf-button:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.pdf-button:hover a {
  color: black !important;
}

.cca-banner {
  width: 100%;
  min-height: 400px;
  height: 100%;
  background-color: var(--cca-color);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

.cca-banner h3 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0;
}

.cca-banner p {
  margin-top: 0 !important;
  text-align: center;
  max-width: 100%;
  color: white;
}

@media only screen and (max-width: 700px) {
  .cca-banner h3 {
    font-size: 24px;
  }
  .cca-banner p {
    font-size: 18px;
  }
}

.epc-banner {
  width: 100%;
  min-height: 400px;
  height: 100%;
  background-color: #FEA800;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.epc-banner span {
  margin-top: 10px;
  font-style: italic;
  font-size: 11 px;
  color: white;
  text-align: center;
  width: 100%;
  display: block;
}

.epc-banner h3 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: 800;
}

.epc-banner p {
  margin-top: 0 !important;
  text-align: center;
  max-width: 100%;
  color: white;
}

@media screen and (max-width: 950px) {
  .epc-banner {
    padding: 50px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media only screen and (max-width: 700px) {
  .epc-banner h3 {
    font-size: 24px;
  }
  .epc-banner p {
    font-size: 18px;
  }
}

.epc-banner form {
  width: 100%;
}

.epc-banner form .form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[2];
      grid-template-columns: repeat(2, 400px);
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.epc-banner form .form-container .form-group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.epc-banner form .form-container input {
  width: 100%;
  font-size: 18px;
  height: 45px;
  background-color: rgba(225, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  max-width: 400px;
  margin: 0 auto;
}

.epc-banner form .form-container label {
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

@media screen and (max-width: 950px) {
  .epc-banner form .form-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.epc-banner form button {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: 0;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.39);
  color: white;
  font-size: 18px;
  font-family: inherit;
  text-transform: uppercase;
}

.epc-banner form button:hover {
  background-color: #dfdfdf;
  color: black;
}

.contact-section {
  display: -ms-grid;
  display: grid;
  margin-top: 70px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .contact-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-section .contact-image {
    display: none;
  }
}

.contact-section .contact-image {
  width: 100%;
  height: 100%;
}

.contact-section .contact-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}

.contact-section .contact-form p {
  text-align: center;
}

.contact-section .contact-form h1 {
  margin: 0 auto;
}

.contact-section .contact-form form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.contact-section .contact-form form .form-group {
  margin-bottom: 15px;
}

.contact-section .contact-form form .form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.contact-section .contact-form form .form-group input, .contact-section .contact-form form .form-group textarea {
  width: 100%;
  font-size: 18px;
  font-family: inherit;
}

.contact-section .contact-form form .form-group input {
  height: 50px;
}

.contact-section .contact-form form .form-group textarea {
  height: 220px;
  resize: none;
}

.contact-section .contact-form form button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background-color: var(--main-blue-accent);
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
}

.contact-section .contact-form form button:hover {
  background-color: var(--main-blue-rollover);
}

.footer {
  position: relative;
  height: 100%;
  min-height: 275px;
  padding-bottom: 20px;
  background-color: var(--footer-color);
}

.footer .container {
  position: relative;
  height: 100%;
  min-height: 275px;
}

.footer img {
  width: 200px !important;
  margin: 30px auto !important;
  display: block;
}

.footer h4 {
  margin: 0;
  font-size: 26px;
}

.footer span {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer .footer-nav-links {
  padding-top: 30px;
}

.footer .footer-nav-links ul {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 22px;
}

.footer .footer-nav-links ul a {
  color: var(--text-color) !important;
  font-weight: bold;
}

.footer .container {
  padding-top: 40px;
}

.footer .footer-socials {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--heading-color);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-socials .footer-links {
  padding-left: 20px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-socials .footer-links a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-left: 15px;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .footer .footer-socials h4 {
    font-size: 22px;
  }
}

.aces-signup-banner {
  width: 100%;
  min-height: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--main-blue-accent);
}

.aces-signup-banner .signup-content {
  text-align: center;
}

.aces-signup-banner .signup-content h4, .aces-signup-banner .signup-content p {
  color: white !important;
}

.aces-signup-banner .signup-content h4 {
  font-size: 32px;
  margin: 0;
}

.project-banner {
  width: 100%;
  height: 550px;
  background-position: bottom;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.project-banner h1 {
  margin: 0;
}

.project-banner .project-info {
  text-align: center;
}

.project-banner .project-info h1 {
  font-size: 72px;
  line-height: 70px;
  max-width: 900px !important;
  color: white;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .project-banner .project-info h1 {
    font-size: 64px;
    line-height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .project-banner .project-info h1 {
    font-size: 52px;
    line-height: 50px;
  }
}

.project-banner .project-info .subheading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.28em;
  color: white;
  text-transform: uppercase;
  margin: 5px 0;
}

@media screen and (max-width: 700px) {
  .project-banner .project-info .subheading {
    font-size: 16px;
    line-height: 16px;
  }
}

.project-main-container p {
  margin: 0 auto;
  max-width: 950px;
}

.aces-blurb {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aces-blurb video {
  max-width: 100%;
}

.aces-blurb p {
  margin: 10px auto;
}

@media screen and (max-width: 900px) {
  .aces-blurb {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.project-blurb {
  padding-top: 60px;
  margin: 0 auto;
}

.project-blurb p:nth-of-type(1) {
  font-size: 24px !important;
  text-align: center;
  margin-bottom: 30px;
}

.project-about p {
  margin: 10px auto;
}

.project-logo {
  padding: 20px 0;
  width: 200px;
  margin: 0 auto;
}

.project-logo img {
  width: 200px;
  margin: 0 auto;
}

.cca-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(475px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  grid-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cca-about img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .cca-about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.project-boxes {
  padding: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  position: relative;
  place-content: center;
}

.project-boxes::before {
  position: absolute;
  content: '';
  width: 300%;
  left: -100%;
  top: 32%;
  height: 120px;
  z-index: 1;
  background-color: var(--bg-color);
}

.project-boxes .box {
  position: relative;
  z-index: 2;
  height: 312px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.project-boxes .box p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 26px;
  line-height: 24px;
  color: white;
}

.project-boxes .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .project-boxes {
    margin: 0 auto;
    -ms-grid-columns: (312px)[2];
        grid-template-columns: repeat(2, 312px);
  }
  .project-boxes .box {
    width: 312px;
    margin: 0 auto;
  }
  .project-boxes::before {
    top: 42%;
  }
}

@media screen and (max-width: 700px) {
  .project-boxes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project-boxes .box {
    width: 312px;
    margin: 0 auto;
  }
  .project-boxes::before {
    top: 46%;
  }
}

@media screen and (max-width: 900px) {
  .slick-next {
    right: 0 !important;
  }
  .slick-prev {
    left: 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .description-text {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=global.css.map */